body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background: #073975;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #022550;
    margin-bottom: 4px;
}

button {
    background: #022550;
    color: white;
    padding: 10px 20px;
    border: 1px solid #022550;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background: #0465dc;
    
}

#delete-btn {
    background: white;
    color: #022550;
}

#delete-btn:hover{
    color: #0465dc;
} 



ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: rgb(18, 204, 18);
}


